<div class="twelve wide column">

  <section>
    <h2><%= @practice.title %></h2>
  </section>


  <section>
    <a href="<%= @practice.practice_session_url %>" target="_blank" class="ui button green">Watch Game</a>
  </section>

  <section>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, ipsam porro impedit, blanditiis asperiores dolor voluptatibus tempora, minus, tempore veritatis quis commodi aliquam autem. Sit modi dolorum possimus, quidem voluptatum!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi accusantium illum voluptate quibusdam non ex, porro aut assumenda nam aspernatur quis possimus, qui, in molestiae asperiores culpa tempore dicta vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ea tempora veniam, amet aut mollitia autem veritatis impedit dolorum necessitatibus, blanditiis incidunt, corporis ad quia. Quam officiis ducimus quo distinctio.</p>
  </section>

  <section>
    <div>
      <h2>Complete Review</h2>
      <h3>Practice Date: <%= @practice.date %>, Player Name: <%= @user.first_name %> <%= @user.last_name %> </h3>
    </div>

    <div>
      <%= render 'partials/forms/complete_practice_review_form' %>
    </div>
  </section>

</div>

<!-- Woopra Page View tracking -->
<script>woopra.track();</script>
