<div class="ten wide column">
  <section class="practice-header">
    <div class="practice-heading">
      <h2 class="ui header">Reviewed Practice Sessions</h2>
  </section>

  <section>
    <table class="ui striped table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Date Uploaded</th>
          <th></th>
        </tr>
        <tbody>
          <% if @previous_practices.empty? %>
            <tr>
              <td>Submit your first practice for review</td>
              <td><a href="/practice_sessions/new" type="button" class="ui button green">Upload Practice Session</a></td>
            </tr>
          <% else %>
            <% @previous_practices.each do |practice| %>
              <% user = User.find_by(id: practice.user_id) %>
              <tr>
                <td><%= user.first_name %> <%= user.last_name %></td>
                <td><%= user.username %></td>
                <td><%= practice.created_at %></td>
                <td><a href="/tendencies/member/<%= user.username %>/<%= practice.id %>" type="button" class="ui button green">See Practice Review</a></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </thead>
    </table>
  </section>
</div>
