<div class="login-wrapper ui five column stackable grid container centered">
  <section class="login-header row">
    <div class="column">
      <h2>Login</h2>
    </div>
  </section>

  <section class="login-form row">
    <div class="column">
      <% cache_if logged_in? do %>
        <%= form_tag '/session', class: 'ui form error', method: 'post' do%>

          <!-- display form errors -->
          <% if @error %>
            <div class="ui error message">
              <div class="header">Form Errors</div>
                <%= @error %>
            </div>
          <% end %>

          <div class="field">
            <label>Email</label>
            <input type="email" name="email" placeholder="Enter your email address">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter Password">
          </div>
          <p><%= link_to "forgotten password?", new_password_reset_path %></p>
          <!-- <div class="field">
            <%= check_box_tag :remember_me, 1, params[:remember_me] %>
            <%= label_tag :remember_me %>
          </div> -->
          <button class="ui button green" type="submit">Login</button>

        <% end %>
      <% end %>
    </div>
  </section>
</div>
