<header>
  <nav>
    <div class="ui large menu">
      <div class="left menu">
        <div class="item">

          <!-- Check if logged in and redirect to home page if not -->
          <% if logged_in? %>
            <a href="/dashboard/<%= current_user.username %>">[LOGO Here]</a></div>
          <% else %>
            <a href="/">[LOGO Here]</a></div>
          <% end %>

        <!-- Menu for logged in users -->
        <% if logged_in? %>
        <!-- <div class="item">
          Notifications dropdown menu
          <div class="ui floating dropdown icon">
            <i class="announcement icon"></i>
            <div class="menu">
              <div class="item"><i class="alarm icon"></i>Notification 1</div>
              <div class="item"><i class="alarm icon"></i>Notification 2</div>
              <div class="item"><i class="alarm icon"></i> Notification 3</div>
            </div>
          </div>
        </div> -->
        <% end %>
      </div>

      <div class="right menu">
        <!-- Menu for logged in users -->
        <% if logged_in? %>
          <a class="item" href="/practice_sessions/new">Upload Practice Session</a>
          <a class="item" href="/games/new">Upload Game Footage</a>
          <div class="ui dropdown item">
            <img class="ui avatar mini image" src="<%= current_user.avatar %>"><span> <%= current_user.username %> <i class="dropdown icon"></i></span> 
            <div class="menu">
              <a class="item">Hi <%= current_user.first_name %></a>
              <a class="item" href="/users/<%= current_user.username %>">Account Details</a>
              <%= form_tag("/logout", method: "delete") do %>
                <button class="ui button blue">Sign Out</button>
              <% end %>
            </div>
          </div>
        <% else %>
          <a href="/users/new" class="item">Sign Up</a>
          <a href="/login" class="item">Login</a>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<script>
  // initialising the semantic ui dropdown menu
  $(document).ready(function() {
      $('.ui.dropdown').dropdown();
  });
</script>
