<div class="twelve wide column">
  <section>
    <h2 class="ui header">Admin dashboard</h2>

    <%= form_tag '/admin/admin-access', class: 'ui form', method: 'patch' do %>
      <div class="field">
        <label>Add or Remove Admin</label>
        <input type="text" name="admin_email" placeholder="Enter email address">
      </div>
    <% end %>

    <%= form_tag '', class: 'ui form', method: 'get' do %>
      <div class="field">
        <label>Search for User by Email</label>
        <input type="text" name="user_search" placeholder="Enter a users email address">
      </div>
    <% end %>
  </section>

  <% if @search_user != nil %>
    <section>
      <table class="ui striped table">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Pending Reviews</th>
            <th></th>
          </tr>
          <tbody>
            <tr>
              <td><%= @search_user.id %></td>
              <td><%= @search_user.first_name %> <%= @search_user.last_name %></td>
              <td><%= @search_user.username %></td>
              <td><%= @search_game_count %></td>
            </tr>
          </tbody>
        </thead>
      </table>

    </section>
  <% end %>

  <section>
    <h3>Games for Review</h3> <a href="/admin/game-reviews">See all games for review</a>
    <p>Total games currently needing review: <%= @game_total %></p>

    <!-- Games for review, partial in loops -->
    <%= render 'partials/tables/game_admin_table' %>

  </section>

  <section>
    <h3>Practice Sessions for Review</h3> <a href="/admin/practice-reviews">See all practice sessions for review</a>
    <p>Total practice sessions currently needing review: <%= @practice_total  %></p>

    <!-- Practice sessions for review, partial in loops -->
    <%= render 'partials/tables/practice_admin_table' %>

  </section>
</div>

<!-- Woopra Page View tracking -->
<script>woopra.track();</script>
