
<div class="eleven wide column dashboard-main">
  <section class="dashboard-header">
    <div class="dashboard-header-left">

      <!-- Check if user has uploaded an avatar else show default -->
      <% if current_user.new_avatar.model["new_avatar"] == nil %>
        <img class="dashboard-image" src="<%= asset_path(@user.avatar) %>" alt="">
      <% else %>
        <img class="dashboard-image" src="<%= asset_path(@user.new_avatar) %>" alt="">
      <% end %>

    </div>

    <div class="dashboard-header-right">
      <h2 class="ui header">Dashboard for <%= @user.first_name %> <%= @user.last_name %></h2>
    </div>
  </section>

  <section class="dashboard-top">
    <% if @averages.empty? %>
      <h3>It's easy to get started. Upload game and practice footage to see your stats and get real feedback on your game.</h3>
    <% else %>
      <div>
        <h3 class="ui header">Your Season Averages</h3>
      </div>
      <table class="ui striped table">
        <thead>
          <tr>
            <th>GS</th>
            <th>Mins</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FGP</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3PP</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FTP</th>
            <th>ORB</th>
            <th>DRB</th>
            <th>TRB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TO</th>
            <th>PF</th>
            <th>PTS</th>
          </tr>
          <tbody>
            <tr>
              <td><%= @averages["gs"] %></td>
              <td><%= @averages["mins"] %></td>
              <td><%= @averages["fgm"] %></td>
              <td><%= @averages["fga"] %></td>
              <td><%= @averages["fgp"] %>%</td>
              <td><%= @averages["threepm"] %></td>
              <td><%= @averages["threepa"] %></td>
              <td><%= @averages["threepp"] %>%</td>
              <td><%= @averages["ftm"] %></td>
              <td><%= @averages["fta"] %></td>
              <td><%= @averages["ftp"] %>%</td>
              <td><%= @averages["orb"] %></td>
              <td><%= @averages["drb"] %></td>
              <td><%= @averages["trb"] %></td>
              <td><%= @averages["ast"] %></td>
              <td><%= @averages["stl"] %></td>
              <td><%= @averages["blk"] %></td>
              <td><%= @averages["to"] %></td>
              <td><%= @averages["pfs"] %></td>
              <td><%= @averages["pts"] %></td>
            </tr>
          <% end %>
        </tbody>
      </thead>
    </table>
  </section>

  <section class="dashboard-middle">
    <div>
      <h3 class="ui header">Your Most Recent Reviewed Games</h3>
    </div>
    <table class="ui striped table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Game Date</th>
          <th>Your Name</th>
          <th></th>
        </tr>
        <tbody>
          <% if @previous_games.empty? %>
              <td>No Previous Games Reviewed</td>
              <td><a href="/games/new" type="button" class="ui button green">Upload Game Footage</a></td>
          <% else %>
            <% @previous_games.each do |game| %>
              <tr>
                <td><%= game.title %></td>
                <td><%= game.date %></td>
                <td><%= game.team_name %></td>
                <td><a href="/games/member/<%= current_user.username %>/<%= game.id %>" type="button" class="ui button green">See Game Review</a></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </thead>
    </table>
  </section>

  <section class="dashboard-bottom">
    <div>
      <h3 class="ui header">Your Most Recent Reviewed Practices</h3>
    </div>
    <table class="ui striped table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Date Uploaded</th>
          <th></th>
        </tr>
        <tbody>
          <% if @previous_practices.empty? %>
            <tr>
              <td>Submit your first practice for review</td>
              <td><a href="/practice_sessions/new" type="button" class="ui button green">Upload Practice Session</a></td>
            </tr>
          <% else %>
            <% @previous_practices.each do |practice| %>
              <tr>
                <td><%= @user.first_name %> <%= @user.last_name %></td>
                <td><%= @user.username %></td>
                <td><%= practice.created_at %></td>
                <td><a href="/tendencies/member/<%= @user.username %>/<%= practice.id %>" type="button" class="ui button green">See Practice Review</a></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </thead>
    </table>
  </section>
</div>
