
<div class="ui grid">

  <div class="eleven wide column">

    <!-- User details info block -->
    <div>
      <h2 class="ui header">User Details</h2>
      <div>
        <h3>Full Name</h3><p><%= current_user.first_name %> <%= current_user.last_name %></p>
      </div>
      <div>
        <h3>Username</h3><p><%= current_user.username %></p>
      </div>
      <div>
        <h3>Email</h3><p><%= current_user.email %></p>
      </div>

      <div>
        <h3>Video Reviews remaining</h3>
        <progress value="<%= current_user.video_reviews %>" max="2"></progress>
        <p>You currently have <%= current_user.video_reviews %> remaining review for this month</p>
      </div>
    </div>

    <div>
      <a class="ui button green" href="/users/<%= current_user.username %>/edit">Edit Info</a>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui vertical pointing menu">
      <a class="item" href="/users/<%= current_user.username %>">Profile Info</a>
    </div>
  </div>

</div>
<!-- General Information block here with info about account -->
<div>
  <p>You can <a href="/users/<%= current_user.username %>/update-payment">UPDATE YOUR PAYMENT INFORMATION</a> here or you may <a href="/users/<%= current_user.username %>/cancel-account">CANCEL YOUR ACCOUNT</a>. For more information about your account you can <a href="#">CONTACT SUPPORT</a>.</p>
</div>
