
<div class="user-profile-show-main">

  <!-- User details info block -->
  <section class="user-profile-show-info">
    <h2>User Details</h2>
    <div class="user-profile-show-fields">
      <div class="user-profile-field">
        <h3>Full Name</h3><p><%= current_user.first_name %> <%= current_user.last_name %></p>
      </div>
      <div class="user-profile-field">
        <h3>Username</h3><p><%= current_user.username %></p>
      </div>
      <div class="user-profile-field">
        <h3>Email</h3><p><%= current_user.email %></p>
      </div>
    </div>

    <div class="user-profile-show-video">
      <h3>Video Reviews Remaining</h3>
      <progress value="<%= current_user.video_reviews %>" max="2" class=""></progress>
      <p>You currently have <%= current_user.video_reviews %> remaining review for this month. Your account is due to reset on <%= current_user.next_billing_date %>.</p>
    </div>

    <!-- Checking if demo and hiding review submission button -->
    <% if current_user.subscription != 'demo' %>
      <a class="ui button green" href="/users/<%= current_user.username %>/edit">Edit Info</a>
    <% else %>
      <a href="/trial-signup" class="ui button green">Sign Up For Free</a>
    <% end %>
  </section>

  <!-- General Information block here with info about account -->
  <section class="user-profile-show-content">
    <p>You are welcome to <a href="/users/<%= current_user.username %>/cancel-account" class="green">CANCEL YOUR ACCOUNT</a>. We really appreciate feedback, it will help us provide a better product and allow us to understand what is most important to our users. You can <span class="feedback">LEAVE FEEDBACK</span> about your experience with us here.</p>
  </section>

  <!-- Popup feedback modal -->
  <%= render 'partials/modals/feedback_modal' %>

</div>

<!-- Woopra Page View tracking -->
<script>woopra.track();</script>
