<div class="twelve wide column">

  <section>
    <h2><%= @game.title %></h2>
  </section>

  <section>
    <a href="<%= @game.game_url %>" target="_blank" class="ui button green">Watch Game</a>
  </section>

  <section>
    <p>Admin must take all stats for the player number <%= @game.player_number %>, <%= @user.first_name %> <%= @user.last_name %>. Stats needed are as follows:</p>

    <p>It is also important to take notes of how the player approaches the game and areas they are in need of improvement. Consider things like shot selection, defensive pressure, not passing enough, passing too much, rebounding effort etc.</p>
  </section>

  <section>
    <div>
      <h2>Complete Review</h2>
      <h3>Game Date: <%= @game.date %>, Opponent: <%= @game.opponent_name %>, <%= @win_loss %> </h3>
    </div>
    <div>
      <%= render 'partials/forms/complete_game_review_form' %>
    </div>
  </section>

</div>
