<div class="games-main ten wide column">
  <section class="games-header">
    <div class="games-heading">
      <h2 class="ui header">Reviewed Game Footage</h2>
    </div>
  </section>


  <section class="games-middle">
    <table class="ui striped table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Game Date</th>
          <th>Your Name</th>
          <th></th>
        </tr>
        <tbody>
          <% if @previous_games.empty? %>
            <tr>
              <td>No Previous Games Reviewed</td>
              <td><a href="/games/new" type="button" class="ui button green">Upload Game Footage</a></td>
            </tr>
          <% else %>
            <% @previous_games.each do |game| %>
              <tr>
                <td><%= game.title %></td>
                <td><%= game.date %></td>
                <td><%= game.team_name %></td>
                <td><a href="/games/member/<%= current_user.username %>/<%= game.id %>" type="button" class="ui button green">See Game Review</a></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </thead>
    </table>
  </section>
</div>
