<!DOCTYPE html>
<html>
  <head>
    <title>Sportsmvp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Jquery CDN for Semantic UI -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Semantic UI css CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>

  </head>

  <body>
    <!-- Checking if the current page is the landing page because a different
     navbar will show -->
    <% if !current_page?('/') %>
      <%= render 'partials/navigation/navbar' %>
    <% end %>

    <!-- Only show the vertical menu on the following pages -->
    <% if logged_in? && @user != nil %>
      <% if current_page?("/dashboard/#{@user.username}") || current_page?("/stats/member/#{@user.username}") || current_page?("/games/member/#{@user.username}") || current_page?("/tendencies/#{@user.username}") || current_page?("/drills")%>
        <div class="ui grid">
          <%= render 'partials/navigation/vertical_nav' %>
      <% end %>
    <% end %>

      <%= yield %>

      </div>

    <!-- Semantic UI JavaScript CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  </body>
</html>
