<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Jquery CDN for Semantic UI -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Favicon -->
    <link rel="shortcut icon" href="<%= asset_path("favicon.png") %>">

    <!-- Semantic UI css CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>

    <!-- Start of Woopra Code -->
    <script>
      (function(){
        var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
        })("woopra");

      woopra.config({
          domain: 'proscoutapp.com'
      });

      woopra.track();
    </script>
    <!-- End of Woopra Code -->

  </head>

  <body>
    <!-- Checking if the current page is the landing page because a different
     navbar will show -->
    <% if !current_page?('/') %>
      <%= render 'partials/navigation/navbar' %>
    <% end %>

    <!-- Only show the vertical menu on the following pages -->
    <% if logged_in? && @user != nil %>
      <% if current_page?("/dashboard/#{@user.username}") || current_page?("/stats/member/#{@user.username}") || current_page?("/games/member/#{@user.username}") || current_page?("/tendencies/#{@user.username}") || current_page?("/drills")%>
        <div class="ui grid">
          <%= render 'partials/navigation/vertical_nav' %>
      <% end %>
    <% end %>

    <%= yield %>

    </div>

    <!-- Semantic UI JavaScript CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  </body>
</html>
